{% extends "skincare/about.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="account-page">
   <div class="container">
       <div class="row">
           <div class="col-2">
              <img src="{% static "image/Skincare.JPG"%}" width="500px" alt="">
           </div>
           <div class="col-2">
               <div class="form-container">
                   <div class="form-btn">
                       <span  onclick="Login()"> Login </span>
                       <hr id="Indicator" width="100px">
                   </div>

                   <form id="RegForm" action="" method="POST">
                       {% csrf_token %}
                       {% for field in form %}
                       {{field.label}}
                       {{field}}
                       <br>
                       <br>
                      {% endfor %}
                       <br>
                       <button type="submit" class="btn">Login</button>
                       <small>Dont have an account?  &nbsp <a href="{% url 'accounts' %}"> Register Now</a></small>
                       <br>
                       <br>
                       <a href=""> Forgot password?</a>

                   </form>

               </div>
           </div>
       </div>
   </div>
</div>

{% endblock %}
