{% extends "skincare/about.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block content %}
 <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}

                <h3> Country/Region </h3>
                  <div class="md-form mb-5">
                  {{form.country}}
                </div>

                 <h3> Zip </h3>
                  <div class="md-form mb-5" >
                    {{form.zip}}
                    Zip code required.
                  </div>
              <h3>Street address</h3>

               <div class='hideable_Street_form'>
                  <div class="md-form mb-5">
                     {{ form.street_address }}
                  </div>
               </div>

                <h3>Apartment address</h3>
                <div class="md-form mb-5">
                  {{ form.apartment_address }}
                </div>

                 <h3>Town/City</h3>

              <div class='Town_form'>

                <div class="md-form mb-5">
                  {{ form.town }}
                </div>
                  <h3>County/State</h3>

              <div class='State_form'>

                <div class="md-form mb-5">
                  {{ form.state }}
                </div>


                  <div class='Phone'>
                    <h3>Phone</h3>

                <div class="md-form mb-5">
                       {{ form.phone}}
                </div>
                      <h3>Email</h3>
                  <div class='Email'>

                <div class="md-form mb-5">
                  {{ form.email }}
                </div>

              <hr>
                      <h3>Payment option</h3>
                      {% for value, name in form.fields.payment_option.choices %}

              <div class="d-block my-3">

                <div class="custom-control custom-radio">
                    <input id="{{name}}" name="payment_option" value="{{value}}" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="{{name}}"> {{name}}</label>

                </div>
                  {% endfor %}

              </div>
                    <br>
                    <br>
                    <br>
                    <div class="form">
                    <h5> Save the info </h5>
                    {{ form.save_info}}
                    </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

                  </div>


          </div>

        </div>

        <div class="col-md-4 mb-4">
        </div>

      </div>
            </form>
    </div>
        </div>
      </div>
    </div>
  </main>


<div class="col-md 12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted"> Your cart</span>
        <span class="badge badge-secondary badge-pill"> {{ order.items.count }}</span>
    </h4>
<ul class="list-group nb-3 z-depth-1">
    {% for order_item in order.items.all %}
    <li class="list-group-item d-flex justify-content-between th-condensed">
        <div >
            <h6 class="my-8"> {{order_item.number_of_Products}}*{{ order_item.item.tittle }} </h6>
            <small class="text-muted"> {{ order_item.item.brief_description }} </small>
        </div>
        <span> {{order_item.final_price }}</span>
    </li>
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
            <h6 class="my-0"> Discount Code </h6>
            <small> Example code</small>
        </div>
        <span class="text-success"> Kshs </span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span> total </span>
        <strong> </strong>
    </li>
</ul>
    <form >
    {% csrf_token%}
        <div class="row">
           <div class="col-md 12 mb-2">
               <input value="discount code" type="text" placeholder="Discount Code">
           </div>
            <div class="col-md 12 mb-2">
               <button>Redeem Code</button>
           </div>
        </div>
</form>
</div>


{% endblock %}
